.section {
  position: relative;
/*   overflow: hidden; */
/*   padding: 0px; */
}

.section-category {
  padding: 0 4vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  color: var(--lighted-color);
}

.carousel-container {
  padding: 0 4vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.movie {
  flex: 0 0 auto;
  width: 250px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--theme-color-light);
  position: relative;
  overflow: hidden;
}

.movie img{
  width:100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3{
  margin-top: 0;
}

.movie-info span{
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green{
  background-color:green;
}

.movie-info span.orange{
  background-color: orange;
}

.movie-info span.red{
  background-color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--lighted-color);
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview{
  transform:translateY(0)
}

.no-results{
  color: var(--text-color);
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 4vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(20, 20, 20) 100%
  );
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
