.contact {
  background-color: var( --theme-color-light);
  color: var(--text-color);
  border-radius: 40px;
  text-align: center;
  padding: 60px 0 80px;
  margin-top: 90px;
  font-size: 18px;
  padding: 25px;

  display: grid;
  gap: 25px;
}

.contact p,
.contact h2,
.contact ul {
  margin: 0;
  padding: 0;
}

.contact-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.contact-details,
.contact-form {
  display: grid;
  gap: 20px;
}

.contact-details-group,
.form-control {
  display: grid;
  gap: 3px;
}

.contact-label {
  text-transform: uppercase;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  border-radius: 7px;
  border: none;
  height: 30px;
  padding: 5px 10px;
}

.contact-form textarea {
  height: auto;
  resize: vertical;
}

.form-submit {
  width: 100%;
  height: 50px;

  background-color: var(--primary-color);
  border-radius: 7px;
  color: var(--text-color-inverse);
  border: 1px solid var(--theme-color);
  color: var(--lighted-color);
  cursor: pointer;
}

.form-submit:hover {
  box-shadow: 0 0 14px var(--lighted-color);
}

.social-list {
  list-style: none;

  display: flex;
  gap: 25px;
  justify-content: center;
}

.social-list img {
  height: 25px;
}

.social-list img:hover {
  filter: drop-shadow(0 0 5px var(--lighted-color));
}