:root {
  --lighted-color: white;
  --theme-color: black;
  --theme-color-light: rgb(30, 28, 28);
  --theme-color-inverse: var(--lighted-color);
  --primary-color: red;
  --text-color: white;
  --text-color-inverse: black;
  --navbar-shallow-color: #232222;
  --menu-mobile-background-color: #3a4460;
  --success-color: #23cc71;
  --error-color: yellow;
}

/*dado que el navbar es fijo, se agrega un margen para que se pueda ver cada sección completa*/
section[id] {
  scroll-margin-top: 75px;
  border: 4px solid black;
}

body {
  font-family: "Montserrat", sans-serif;
	background: var(--theme-color);
	font-family: 'Open Sans', sans-serif;
  padding-top: 75px;
}

a {
  text-decoration: none; /* quita subrayado */
  color: var(--text-color); /*fuerza color del enlace */
}

.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}

.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-title h3 {
	color: var(--text-color);
	font-size: 30px;
}

.container {
	width: 90%;
	margin: auto;
}

/*validación de formularios*/
.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.submit-message .success{
  font-size: 80%;
  color: green;
  position: absolute;
  animation: buttons .3s linear;
  display: none;
}
.submit-message .error{
  font-size:80%;
  color: var(--error-color);
  position: absolute;
  transition: .3s;
  animation: buttons .3s linear;
  display: none;
}
/* FIn validación de formularios*/