@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.subscribe {
  background-color: var( --theme-color-light);
  color: var(--text-color);
	border-radius: 40px;
	text-align: center;
	padding: 60px 0 80px;
	margin-top: 90px;
  font-size: 18px;
  padding: 25px;
}
.subscribe h4 {
  text-transform: uppercase;
  font-size: 35px;
}
.subscribe p {
  font-style: italic;
  margin-bottom: 30px;
}
.subscribe input {
  padding: 20px;
  border: 0;
  background-color: var(--lighted-color);
  border-radius: 10px;
  font-size: 20px;
}
.subscribe form {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.subscribe input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  background-color: var(--primary-color);
  color: var(--lighted-color);
  cursor: pointer;
  padding: 20px 40px;
}

.subscribe input[type="submit"]:hover {
  box-shadow: 0 0 14px var(--lighted-color);
}
